{
  "name": "{{NAME}}",
  "version": "0.1.0",
  "description": "TODO: one-line description of this MCP server.",
  "author": { "name": "{{AUTHOR_NAME}}", "email": "{{AUTHOR_EMAIL}}" },
  "license": "MIT"
}
